.custom-button {
  background-color: black;
  color: white;
  padding: 15px 0;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.custom-button:hover {
  opacity: 0.9;
}
