.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products {
  display: flex;
}

.info-section h2 {
  font-size: 40px;
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-self: flex-start;
  margin: 100px 0;
}

.info-section ul {
  list-style-type: disc;
}
