.product-card {
  padding: 20px;
  border-radius: 10px;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 520px;
}

.product-image img {
  width: 100%;
  border: 2px solid #3498db;
  border-radius: 10px;
}

.product-description {
  width: 90%;
  text-align: center;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
